* {
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
    text-align: center;
    background-color: black;
}

h1, h2 {
    color: white;
    padding: 20px;
}

span {
    color: grey;
    font-size: 21px;
}

.link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

.sub {
    padding: 20px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300px;
}

footer {
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

.camp {
    margin: 30px;
}

.icon {
    margin-bottom: 20px;
}

#icon h2 {
    margin-bottom: 20px;
}